<h1>Songs</h1>

Title: <%= @song.title %>
<br><br>
Artist: <%= @song.artist_name %>
<br><br>
Genre: <%= @song.genre_name %>
<br><br>
Notes:
<br><br>
<% @notes.each do|note| %>
<li><%= note.content %></li>
<% end %>
